option_settings:
  aws:elb:listener:443:
    SSLCertificateId: arn:aws:acm:us-east-2:890742572984:certificate/7a4c1ef6-dcc6-4ebf-b613-ad3689515aaf
    ListenerProtocol: HTTPS
    InstancePort: 80


files:
    "/etc/httpd/conf.d/ssl_rewrite.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            RewriteEngine On
            <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
            RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
            </If>
