option_settings:
  aws:elb:listener:443:
    SSLCertificateId: arn:aws:acm:us-east-2:890742572984:certificate/7a4c1ef6-dcc6-4ebf-b613-ad3689515aaf
    ListenerProtocol: HTTPS
    InstancePort: 80

files:
  "/etc/nginx/conf.d/https_redirect.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen 80;
        server_name _;
        
        location / {
          proxy_pass http://localhost:8080;
          proxy_http_version 1.1;
          proxy_set_header Upgrade $http_upgrade;
          proxy_set_header Connection 'upgrade';
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto $scheme;
          proxy_cache_bypass $http_upgrade;
          
          if ($http_x_forwarded_proto = 'http') {
            return 301 https://$host$request_uri;
          }
        }
      }

container_commands:
  01_reload_nginx:
    command: "service nginx reload"